/* styles.css */

#faqs-search .breadcrumbs {
    display: flex;
    align-items: center;
}

#faqs-search .breadcrumb-item {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #828282;
    padding-inline-end: 20px;
    padding-block: 25px;
}

#faqs-search .header {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

#faqs-search .header h1 {
    font-size: 36px;
    font-weight: bold;
}

#faqs-search .header p {
    font-size: 18px;
}

#faqs-search .result-card {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#faqs-search .result-title {
    font-size: 18px;
    font-weight: 600;
}

#faqs-search .result-description {
    font-size: 16px;
    font-weight: 300;
}

#faqs-search .result-date {
    font-size: 14px;
    color: #828282;
}

#faqs-search .result-button {
    background: none;
    border: none;
    cursor: pointer;
}

#faqs-search .contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 383px;
    height: 474px;
    padding-inline: 24px;
    text-align: center;
    color: #fff;
    background-image: url('/user/assets/ellipse/station-search-card-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#faqs-search .contact-card h2 {
    font-weight: bold;
    font-size: 36px;
}

#faqs-search .contact-card p {
    font-size: 20px;
    font-weight: 200;
    padding-block: 14px;
}

#faqs-search .contact-button {
    width: 231px;
    height: 64px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-inline: 24px;
    padding-block: 14px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    transition: all 0.5s;

}
#faqs-search .contact-button:hover {
    background-color: transparent;
    color: white;
    border-color: white;
}
