/* ============================== */
            /* Jobs */
/* ============================== */

#jobs-main .banner-section {
    height: 312px;
    background-image: url('/user/assets/ellipse/view-job-banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
#jobs-main .banner-section .container-fluid{
    padding-inline: 78px;
}

#jobs-main .banner-title {
    color: #fff;
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: bold;
    padding-inline: 42px;;
}

#jobs-main .banner-inputs {
    padding-left: 30px;
    padding-right: 30px;
}

#jobs-main .banner-input {
    width: max-content;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 12px 12px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

#jobs-main .input-icon {
    width: 20px;
    height: 22px;
    margin-top: -5px;
}

#jobs-main .banner-text-input {
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    background-color: transparent;
}

#jobs-main .search-btn {
    background-color: #89C400;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #fff;
}

#jobs-main .search-btn:hover {
    background-color: #76ab00;
}

#jobs-main .search-icon {
    padding-left: 16px;
    padding-right: 12px;
}

#jobs-main .search-text {
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
}
/* General styles */
#jobs-main #view-job-main {
    border-bottom: 1px solid #BDBDBD;
}

#jobs-main .filter-label {
    color: #828282;
    font-weight: 500;
    font-size: 14px;
    margin-inline-end: 8px;
}

#jobs-main .filter-button {
    color: #828282;
}

/* Job Card styles */
#jobs-main .job-card {
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

#jobs-main .company-logo {
    width: 85px;
    height: 82px;
}

#jobs-main .job-title {
    font-size: 24px;
    font-weight: bold;
}

#jobs-main .job-details {
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 0.5rem;
}

#jobs-main .detail-icon {
    width: 17px;
}

#jobs-main .detail-text {
    color: #194D79;
    font-size: 14px;
}

#jobs-main .job-description {
    padding-inline-start: 20px;
}

#jobs-main .job-description li {
    list-style: circle;
    padding-bottom: 10px;
    font-weight: 300;
    line-height: 25px;
}

#jobs-main .actively-hiring-btn {
    background-color: #9BDB08;
    border: none;
    color: white;
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 14px;
}
#jobs-main .actively-hiring-btn img {
    width: 15px;
    height: 15px;
    margin-top: -3px;
    margin-inline-end: 3px;
}

#jobs-main .updated-info {
    font-size: 12px;
}
