/* ============================== */
            /* Jobs */
/* ============================== */

#jobs-main .banner-section {
    height: 312px;
    background-image: url('/user/assets/ellipse/view-job-banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
#jobs-main .banner-section .container-fluid{
    padding-inline: 78px;
}

#jobs-main .banner-title {
    color: #fff;
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: bold;
    padding-inline: 42px;;
}

#jobs-main .banner-inputs {
    padding-left: 30px;
    padding-right: 30px;
}

#jobs-main .banner-input {
    width: max-content;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 12px 12px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

#jobs-main .input-icon {
    width: 20px;
    height: 22px;
    margin-top: -5px;
}

#jobs-main .banner-text-input {
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    background-color: transparent;
}

#jobs-main .search-btn {
    background-color: #89C400;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #fff;
}

#jobs-main .search-btn:hover {
    background-color: #76ab00;
}

#jobs-main .search-icon {
    padding-left: 16px;
    padding-right: 12px;
}

#jobs-main .search-text {
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
}
/* General styles */
#jobs-main #view-job-main {
    border-bottom: 1px solid #BDBDBD;
}

#jobs-main .filter-label {
    color: #828282;
    font-weight: 500;
    font-size: 14px;
    margin-inline-end: 8px;
}

#jobs-main .filter-button {
    color: #828282;
}
