@import url('/user/assets/css/common/newsroom-login-tabs.css');
/* ============================== */
        /* newsroom login */
/* ============================== */

/* Custom Card */
#newsroom-login-main .custom-card {
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

/* Login Background */
#newsroom-login-main .login-background {
    height: 635px;
    background-image: url('/user/assets/ellipse/authentication/login-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 16px;
}

/* Title Styling */
#newsroom-login-main .title {
    font-size: 48px;
}

/* Employee and Newsroom Tabs */
#newsroom-login-main .employee-tab {
    color: #828282;
    font-size: 24px;
}

#newsroom-login-main .newsroom-tab {
    color: #89C400;
    font-size: 24px;
}

#newsroom-login-main .newsroom-tab.active {
    font-weight: bold;
}

/* Forgot Password Link */
#newsroom-login-main .forgot-password {
    color: #828282;
}

/* Register Link */
#newsroom-login-main .register-link {
    color: #89C400;
    border-bottom: 2px solid #89C400;
}
