
/* ============================== */
        /* variables */
/* ============================== */
:root {
    --darkCerulean: #194D79;
    --trueBlueHover: #006bca;
    --white: #ffffff;
}
/* ============================== */
        /* common css */
/* ============================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.public-sans-body {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* You can change the value between 100 to 900 */
    font-style: normal;
}
#lr-main-heading{
    font-weight: 700;
    padding-block: 30px;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
input:focus{
    outline: none;
}
select{
    border: none;
    background-color: transparent;
}
option{
}
button{
    border: none;
    background-color: transparent;
}
/* ============================== */
        /* header css */
/* ============================== */
/* Logo container */
header .container > div:first-child {
    width: 136px;
    height: 34px;
}
header .container > div:first-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Navigation menu container */
header .container .flex-grow-1 {

}

/* Menu items (ul inside the second div) */
header .container .flex-grow-1 ul {

}

/* Menu list items (li) */
header .container .flex-grow-1 ul li {
    padding-inline: 18px;
}

/* Links inside the menu (a tags) */
header .container .flex-grow-1 ul li a {
    font-weight: 400;
    color: #000;
    font-size: 18px;
}
header .container .flex-grow-1 ul li.active a::after {
    content: '';
    display: flex;
    width: 35px;
    border-bottom: 3px solid #89C400;
    margin-inline: auto;
}
/* Right-side cart and login container */
header .container > div:last-child {

}

/* Cart icon container */
header .container > div:last-child > div:first-child {
    padding-inline: 10px;
    display: flex;
    margin-inline-end: 10px;
}
header .container > div:last-child > div:first-child span{
    width: 18px;
    height: 18px;
    background-color: #9BDB08;
    position: absolute;
    top: -6px;
    right: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-size: 12px;
}

/* Login link container */
header .container > div:last-child > div:last-child {

}
/* Login link */
header .container > div:last-child > div:last-child a {
    color: var(--darkCerulean);
    border: 2px solid var(--darkCerulean);
    padding-inline: 39px;
    padding-block: 7px;
    border-radius: 8px;
    font-weight: bold;
}
/* ============================== */
/* hero section css */
/* ============================== */
/* Hero Section */
#hero-section {
    height: 500px;
    background-image: url('/user/assets/ellipse/banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-section #hero-center-div {
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-section .hero-heading h1 {
    width: 100%;
    font-size: 58px;
    font-weight: bold;
    color: #fff;
    line-height: 60px;
}

#hero-section .hero-search {
    width: 100%;
    margin-bottom: 20px;
}

#hero-section .hero-search .input-group {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.hero-search-prepend {
    background-color: #89C400;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.hero-search-prepend span{
    background-color: #89C400;
}

#hero-section .input-group .btn.dropdown-toggle {
    border-radius: 0;
    border: none;
    background-color: #89C400;
    color: #FFF;
}

#hero-section .form-control {
    color: #828282;
    border: none;
    outline: none;
    padding-inline: 24px;
}
#hero-section .form-control:focus{
    outline: none;
    box-shadow: none;
}
#hero-section .input-group-append .input-group-text {
    border: 0;
    border-radius: 0;
    height: 100%;
    padding-inline: 14px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#hero-section .hero-search .input-group-text .small-icon,
#hero-section .hero-search .input-group-text .search-icon {
    width: 20px;
    height: 20px;
}

#hero-section .hero-link {
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    color: #ffff;
}

#hero-section .hero-link:hover {
    text-decoration: underline;
}

/* Dropdown Styling */
#hero-section .input-group-prepend .dropdown-toggle {
    border-radius: 0;
    border: none;
    background-color: #89C400;
    color: #FFF;
    display: flex;
    align-items: center;
    font-weight: 600;
}
/* Customizing the dropdown button arrow */
#hero-section .btn.dropdown-toggle::after {
    content: '';
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    margin-left: 8px;
    margin-inline-start: 16px;
}
.input-group-prepend .dropdown-menu {
    min-width: 200px;
}
/* view page banner background image */
/* #hero-section.view-page-banner {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* ============================== */
/* RateMyStationShop css */
/* ============================== */
#shop-container {
    padding: 20px 0;
}

#shop-container .card {
    border: none;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

#shop-container .card .position-relative:first-child {
    width: 100%;
    height: 330px;
    object-fit: cover;
}
#shop-container .card .position-relative .position-absolute {
    left: 13px;
}

#shop-container .card .card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    width: 100%;
    height: 55px;
}

#shop-container .card .card-price {
    color: #89C400;
    margin-top: 1rem;
    font-weight: 600;
}

/* ============================== */
/* About us css */
/* ============================== */
#about-us-section {
    margin-top: -380px;
}

#about-us-section .about-card {
    padding: 25px;
    margin-block: 10px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

#about-us-section .about-card h6 {
    color: var(--darkCerulean);
    font-size: 16px;
    font-weight: 700;
}

#about-us-section .about-card p {
    font-weight: 700;
    padding-block: 10px;
}

#about-us-section .creator-image-container {
    width: 402px;
    height: 402px;
    border-radius: 24px;
    overflow: hidden;
}

#about-us-section .creator-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-us-section .creator-message-block {
    background-color: #F2F2F2;
    padding: 26px;
    border-radius: 10px;
}

#about-us-section .creator-message-block img {
    width: 80px;
    height: 60px;
    object-fit: cover;
}

#about-us-section .creator-message-block h6 {
    color: var(--darkCerulean);
    font-size: 16px;
    font-weight: 700;
}

#about-us-section .creator-message-block p {
    font-weight: 700;
    padding-bottom: 10px;
}
/* ============================== */
/* JOBS OPENING PAGE CSS */
/* ============================== */

/* #jobs-opening-banner-section .jobs-opening-card {
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
} */
/* ============================== */
        /* VIEW JOB PAGE CSS */
/* ============================== */
#view-job-main .container{
    border-bottom: 1px solid #BDBDBD;
}
/* ============================== */
        /* pagination */
/* ============================== */
/* Target the entire navigation by ID */
#pagination {
    /* Styling for the navigation container */
    max-width: max-content;
    margin: 20px 0;
    background-color: #FFFFFF;
    padding-block: 10px;
    border-radius: 10px;
}

/* Target the pagination <ul> */
#pagination .pagination {

}
#pagination .pagination li:first-child, #pagination .pagination li:last-child {
    margin-top: -4px;
}

/* Target each pagination <li> */
#pagination .page-item {
    /* display: inline-block;
    margin: 0 5px; */
    padding-inline: 10px;
}

/* Styling for the <a> links inside each <li> */
#pagination .page-item .page-link {
    display: inline-block;
    padding: 10px 15px;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    border: none;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Styling for hover effect on the links */
#pagination .page-item .page-link:hover {
    background-color: #F2F2F2;
    color: #fff;
}

/* Styling for the active page */
#pagination .page-item.active .page-link {
    background-color: #F2F2F2;
    color: var(--darkCerulean);
    border-color: transparent;
    border-radius: 10px;
}

/* Styling for the arrow icons */
#pagination .page-item .page-link span[aria-hidden="true"] {
    font-size: 16px;
    vertical-align: middle;
}

/* Optional: Disable previous/next button if not clickable */
#pagination .page-item.disabled .page-link {
    pointer-events: none;
    color: #6c757d;
    background-color: #f8f9fa;
    /* border-color: #dee2e6; */
}
/* ============================== */
        /* hover elements */
/* ============================== */
.subscribe-btn{
    background-color: var(--darkCerulean);
    color: #ffff;
    font-weight: 500;
    width: 100%;
    padding-block: 11px;
    border-radius: 12px;
    border: none;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.subscribe-btn:hover{
    background-color: var(--trueBlueHover);
}
.load-more-btn-parent{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
.load-more-btn{
    background-color: var(--darkCerulean);
    color: #ffff;
    border-radius: 40px;
    padding-inline: 35px;
    font-weight: 500;
    padding-block: 8px;
    border: none;
    transition: all 0.5s;
}
.load-more-btn:hover{
    background-color: var(--trueBlueHover);
}
.view-details-btn{
    color: var(--darkCerulean);
    border: 2px solid var(--darkCerulean);
    padding-block: 8px;
    transition: all 0.5s;
}
.view-details-btn:hover{
    border-color: var(--darkCerulean);
}
.add-to-cart-btn{
    background-color: var(--darkCerulean);
    color: #fff;
    border: 2px solid transparent;
    padding-block: 8px;
    transition: all 0.5s;
}
.add-to-cart-btn:hover{
    background-color: var(--trueBlueHover);
    color: var(--white);
}
.see-all-products-btn{
    background-color: var(--darkCerulean);
    color: #fff;
    border-radius: 40px;
    padding: 8px 35px;
    font-weight: 500;
    border: none;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}
.see-all-products-btn:hover{
    background-color: var(--trueBlueHover);
}
.job-center-subscribe-btn{
    background-color: #ffff;
    border: 1px solid transparent;
    border-radius: 10px;
    padding-inline: 40px;
    padding-block: 10px;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.5s;
}
.job-center-subscribe-btn:hover{
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

/* ============================== */
/* TERMS ADN CONDITIONS CSS */
/* ============================== */
#tac-banner-section{
    height: 194px;
    background-image: url('/user/assets/ellipse/terms-and-conditions-banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#tac-banner-section #tac-banner-content h1{
    font-size: 48px;
}
#tac-banner-section #tac-banner-content p{
    font-weight: 300;
    font-size: 18px;
}
#tac-content-section .tac-all-cards{
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
#tac-content-section .tac-heading{
    font-size: 20px;
    font-weight: 600;
}
#tac-content-section .tag-line{
    font-weight: 300;
    font-size: 14px;
    color: #828282;
}
#tac-content-section .tac-paragraph{
    font-weight: 300;
    font-size: 16px;
}
/* ============================== */
/* NOTIFICATIONS LIST CSS */
/* ============================== */
#notifications-section #notifications-list-card-parent{
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
#notifications-section #notification-list-card{
    border-radius: 10px;
}
#notifications-section #notification-list-card strong{
    font-size: 16px;
    color: #194D79;
}
#notifications-section #notification-list-card .paragraph{
    font-size: 16px;
}
#notifications-section #notification-list-card p:last-child{
    color: #194D79;
}
#notifications-section #notification-list-card p > span:last-child{
    font-size: 12px;
}
#latest-articles .see-all-link {
    color: #194D79;
}
#latest-articles .latest-article {
    width: 384px;
    background: #ffff;
    border-radius: 13px;
    margin-top: 10px;
    margin-bottom: 15px;
}
#latest-articles .latest-article > div:first-child {
    width: 100%;
    height: 211px;
}
#latest-articles .latest-article > div:first-child img {
    object-fit: 'conver';
}
#latest-articles .latest-article > div:last-child {
    padding-inline: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}
#latest-articles .latest-article > div:last-child p {
    font-size: 16px;
}

#latest-articles .newsletter-subscribe {
    width: 384px;
    background: #fff;
    border-radius: 13px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 20px;
}

#latest-articles .newsletter-subscribe h6 {
    font-weight: 700;
    line-height: 23px;
}

#latest-articles .form-control {
    background-color: #F2F2F2;
    font-size: 14px;
    padding-block: 12px;
    margin-block: 15px;
}

#latest-articles .subscribe-btn {
    background-color: #194D79;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

#latest-articles #lr-main-heading {
    padding-block: 0;
}

#latest-articles .rms-follow {
    width: 384px;
    background: #fff;
    border-radius: 13px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 20px;
}

#latest-articles .rms-social-item {
    padding-block: 5px;
    display: flex;
    align-items: center;
}

#latest-articles .social-icon {
    width: 18px;
    height: 22px;
    object-fit: contain;
    margin-right: 10px;
}

#latest-articles .rms-social-item span {
    font-weight: bold;
}
/* ============================== */
/* AUTHENTICATION LOGIN CSS */
/* ============================== */
#employee-tab.active::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border: 1px solid transparent;
    background-color: #89C400;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}
#employee-tab::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border: 1px solid transparent;
    background-color: #828282;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}
#newsroom-tab.active::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border: 1px solid transparent;
    background-color: #89C400;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
}
#newsroom-tab::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border: 1px solid transparent;
    background-color: #828282;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
}
/* #employee-tab::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border: 1px solid transparent;
    background-color: #828282;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
} */
























/* ============================== */
/* footer css */
/* ============================== */
/* Footer container */
footer{
    padding-block: 20px;
}
footer .footer-links {
    padding-left: 40px; /* Custom padding */
}

footer .footer-links ul li {
    padding-right: 20px; /* Spacing between links */
}

footer .footer-links ul li a {
    color: #828282; /* Link color */
}

footer .footer-links ul li a:hover {

}

/* Social media icons */
footer .social-icons ul li {
    padding-inline: 10px;
}

footer .social-icons ul li img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
