/* ============================== */
        /* work for us */
/* ============================== */
/* Styles for the Work for Us Banner */
#work-for-us-main .work-for-us-banner {
    background-image: url('/user/assets/ellipse/work-for-us-banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#work-for-us-main .banner-title {
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

#work-for-us-main .banner-subtitle {
    color: white;
    font-weight: 300;
    font-size: 18px;
}

/* Styles for the Job Card */
#work-for-us-main .job-card {
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#work-for-us-main .job-info .job-card-header {
    padding: 20px;
}
#work-for-us-main .job-info p {
    color: #194D79;
}
#work-for-us-main .job-card-header .job-title {
    font-size: 24px;
    font-weight: bold;
}
#work-for-us-main .logo-img {
    width: 100%;
    height: auto;
    max-width: 80px; /* Adjust as necessary */
}

#work-for-us-main .job-info {
    flex-grow: 1;
}

#work-for-us-main .options-button {
    background: none;
    border: none;
}

/* Job Details Section */
#work-for-us-main .job-details {
    padding: 10px 0;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-inline: 10px;
}

#work-for-us-main .detail-item {
    display: flex;
    align-items: center;
}

#work-for-us-main .detail-icon {
    width: 30px; /* Adjust as necessary */
    height: auto;
    padding-inline-end: 8px;
}

#work-for-us-main .job-description {
    padding: 10px;
    list-style-type: disc;
    margin-left: 20px;
}
#work-for-us-main .job-description li {
    list-style: circle;
}

#work-for-us-main .job-card-footer {
    padding: 15px;
}

/* Actively Hiring Button */
#work-for-us-main .actively-hiring-btn {
    background-color: #9BDB08;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    transition: all 0.5s;
}
#work-for-us-main .actively-hiring-btn:hover {
    background-color: #76ab00;
}
#work-for-us-main .actively-hiring-btn img {
    margin-top: -2px;
}
#work-for-us-main .updated-info {
    display: flex;
    align-items: center;
    font-size: 14px;
}
