/* ================================ */
    /* newsroom contact info */
/* ================================ */
#newsroom-contact-info-main .contact-info-card {
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: white; /* Ensures white background for the card */
}

#newsroom-contact-info-main .sidebar-column {
    border-inline-end: 1px solid #BDBDBD;
}

#newsroom-contact-info-main .content-column {
    padding-inline: 0; /* Adjust padding as necessary */
}

#newsroom-contact-info-main .contact-title {
    font-size: 24px;
}

#newsroom-contact-info-main .button-group {
    margin-top: 20px; /* Optional: Add space between form and buttons */
}
